<%- include('../partials/header') %>
<div id="box">
    <div id="row">
        <div id="column1">
            <div><b>  Flight Details </b></div> <br>
            <div><b>  Airline: </b></div>
            <div> <%= flightDoc.airline %> </div>
            <div><b> Airport: </b></div> 
            <div> <%= flightDoc.airport %> </div>
            <div><b> Flight #: </b></div>
            <div> <%= flightDoc.flightNo %> </div>
            <div> <b>Departure: </b></div>
            <div> <%= flightDoc.departs %> </div>
        </div>
        
            <div id="column2">
                    <div> <b>Add Destination </b></div> <br>
                        <form id="add-destination" method="POST" action="/flights/<%=flightDoc._id %>/destinations">
                            <label>Airport: 
                                <select name="airport">
                                    <option value="AUS"> AUS</option>
                                    <option value="DFW"> DFW</option>
                                    <option value="DEN"> DEN</option>
                                    <option value="LAX"> LAX</option>
                                    <option value="SAN"> SAN</option>
                                </select>
                            </label><br><br>
                            <label>Arrival Date:
                                <input type="datetime-local" name="arrival">
                            </label><br><br>
                            <input type="submit" value="Add Destination">
                        </form>
            </div>
            <div id="column3"> Destinations
                <table>
                    <thead>
                      <tr> 
                        <th> Destination </th>
                        <th> Arrival Date </th>
                      </tr>
                    </thead>
                    <tbody>
                     <% flightDoc.destinations.forEach(function(d) { %>
                        <tr>
                          <td><%= d.airport %></td>
                          <td><%= d.arrival %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
    </div>
    <div id="row2">
        <div id ="row2Column1"> Tickets
            <table class="table" >
                <thead>
                    <th>
                        Seat
                    </th>
                    <th>
                        Price
                    </th>
               
                </thead>
                <tbody>
                <% ticketsDoc.forEach(function(t) { %>
                    <tr>
                        <td><%= t.seat %></td>
                        <td>$<%=  t.price %></td>
                        <td> 
                                <form  action="/tickets/<%= t._id %>?_method=DELETE" method="POST">
                                 <button id="delete-button" type ="submit"> DELETE </button> 
                                </form>
                        </td>
                    </tr> 
                <%}) %>
                </tbody>
            </table> <br><br>
            <a href="/flights/<%=flightDoc._id%>/tickets/new"><button id="create-ticket-button">New Ticket</button></a>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>